<!DOCTYPE HTML>
<html>
<head>
  <title>FitData</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
  <link href = "css/styles.css" rel = "stylesheet">
</head>
<body>
  <!-- HEADER -->
  <nav class="navbar navbar-dark bg-inverse">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <a class="navbar-brand" href="/">FitData</a>
      <ul class="nav navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

      </ul>
    </div>
  </nav>
  <h2> Resume answering question</h2>
  <br> <br>
  {{#responses}}
    <h3>Question: {{question}}</h3>
    <p>Category: {{category}}</p>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#resumeModal{{index}}">
      Resume
    </button>

    <!-- Modal -->
    <div class="modal fade" id="resumeModal{{index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Answer {{category}} question</h4>
          </div>
          <div class="modal-body">
  <!-- 999999999999 -->
            <form>


              <!-- ********************************************************* -->
              <!-- ask question -->
              <h3>Question</h3>
              <div class = "form-group">
                  <p for ="exampleTextArea">Main Research Question: {{question}}</p>
                  <textarea class = "form-control" id="exampleTextArea" rows="5" name ="question0">{{reply}}</textarea>
              </div>

              <!-- ********************************************************* -->
              <!-- breakdown -->
              <h3>Breakdown</h3>
              <div class = "form-group">
                  <p for ="exampleTextArea">Amount of carbs</p>
                  <textarea class = "form-control" id="exampleTextArea" rows="5" name ="question0">{{breakdown.carbs}}</textarea>
              </div>
              <div class = "form-group">
                  <p for ="exampleTextArea">Amount of protein</p>
                  <textarea class = "form-control" id="exampleTextArea" rows="5" name ="question0">{{breakdown.protein}}</textarea>
              </div>
              <div class = "form-group">
                  <p for ="exampleTextArea">Amount of transfat</p>
                  <textarea class = "form-control" id="exampleTextArea" rows="5" name ="question0">{{breakdown.transfat}}</textarea>
              </div>
              <div class = "form-group">
                  <p for ="exampleTextArea">Amount of sugars</p>
                  <textarea class = "form-control" id="exampleTextArea" rows="5" name ="question0">{{breakdown.sugar}}</textarea>
              </div>

              <!-- ********************************************************* -->
              <!-- personal info -->
              <h3>Personal info</h3>
              <div class = "form-group">
                  <p for ="exampleTextArea">Height</p>
                  <textarea class = "form-control" id="exampleTextArea" rows="5" name ="question0">{{self.height}}</textarea>
              </div>
              <div class = "form-group">
                  <p for ="exampleTextArea">Weight</p>
                  <textarea class = "form-control" id="exampleTextArea" rows="5" name ="question0">{{self.weight}}</textarea>
              </div>
              <div class = "form-group">
                  <p for ="exampleTextArea">Bodyfat</p>
                  <textarea class = "form-control" id="exampleTextArea" rows="5" name ="question0">{{self.bodyfat}}</textarea>
              </div>
              <div class = "form-group">
                  <p for ="exampleTextArea">Age</p>
                  <textarea class = "form-control" id="exampleTextArea" rows="5" name ="question0">{{self.age}}</textarea>
              </div>
              <div class = "form-group">
                  <p for ="exampleTextArea">Ethnicity</p>
                  <textarea class = "form-control" id="exampleTextArea" rows="5" name ="question0">{{self.ethnicity}}</textarea>
              </div>
              <!-- ********************************************************* -->
              <!-- send to -->
              <h3>Other</h3>

              <div class = "form-group">
                  <p for ="exampleTextArea">Send to</p>
                  <textarea class = "form-control" id="exampleTextArea" rows="5" name ="question0">{{send}}</textarea>
              </div>

              <div class = "form-group">
                  <p for ="exampleTextArea">Comments</p>
                  <textarea class = "form-control" id="exampleTextArea" rows="5" name ="question0">{{comments}}</textarea>
              </div>

              <p for="exampleTextArea">Identity<p>
              <label class="form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> User123
              </label>
              <label class="form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Anonymous
              </label>
              <!-- ********************************************************* -->
              <!-- comments -->
            </form>
            <h5>Asked by: {{name}}</h5>
            <h5>Researcher: {{researcher}}</h5>
  <!-- 999999999999 -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href = "/">  <button type="button" class="btn btn-danger">Submit</button></a>
          </div>
        </div>
      </div>
    </div>
    <hr>
  {{/responses}}

  <br> <br>
  <a href = "/">  <button type="button" class="btn btn-danger">Quit</button></a>



  <!-- FOOTER -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
</body>
